//$accentColor = lighten(#4a154b, 20%)
//$accentColor = darkred
//$textColor = #2c3e50
//$borderColor = rgba(0,0,0,.05)
$codeBgColor = #1E1E1E
$inlineCodeBgColor = #1E1E1E
$arrowBgColor = #ccc


$accentColor = #8be9fd
$textColor = #f9f9f9
$borderColor = rgba(255, 255, 255, 0.05)
$mainBgColor = #282A2B